body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.header {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  border-bottom: 1px solid #ddd;
}

nav {
  display: flex;
  gap: 30px;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.socials {
  display: flex;
  gap: 10px;
}

.socials img {
  width: 20px;
  height: 20px;
}

.carousel-container {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  background-color: #dcdcdc;
}

.carousel-container img {
  width: 50%; /* prev: 500px */
  height: 300px;
  object-fit: cover;
  object-position: center;
}

.logo {
  height: 60px;
}
